<div class="container detail-card">
  {{#with response}}

  <form action="/celebrities/create" method="post">
    <div class="row">
      <div class="col-4">
        <img src="https://image.tmdb.org/t/p/w235_and_h235_face{{this.profile_path}}" alt="" width="100%" id="card">
        <label for="image-input"></label>
        <input class="out" type="text" id="image-input" name="profile_path"
          value="https://image.tmdb.org/t/p/w235_and_h235_face{{this.profile_path}}">
      </div>
      <div class="col-8">
        <h3> Detalles del Actor/Actriz: </h3>
        <hr>
        <div class="form-group">
          <h3>{{this.name}}</h3>
          <hr>
          <p>Lugar de nacimiento: {{this.place_of_birth}}</p>
        </div>
        <h5>Biografía:</h5>
        <p>{{this.biography}}</p>
        <div class="form-group">
          <p>Popularidad: {{this.popularity}}</p>
        </div>
        <button class="btn btn-dark" type="submit"> Añadir a favoritos </button>
        <a href="/celebrities/celebrities" class="btn btn-primary active" role="button" aria-pressed="true">Volver a la
          lista</a>
        <div class="form-group">

          <img src="https://image.tmdb.org/t/p/w150_and_h225_bestv2{{this.known_for}}" alt="">
          <label for="poster-input" class="poster fade" style="sizes=auto"></label>
          <input class="out" type="text" id="poster-input" name="poster_path"
            value="https://image.tmdb.org/t/p/w150_and_h225_bestv2{{this.known_for.0.poster_path}}">
        </div>


        {{/with}}
      </div>

    </div>
  </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>