<div class="container detail-card">
    {{#with response}}

    <form action="/movies/create" method="post">
        <div class="row">
            <div class="col-4">
                <img src="http://image.tmdb.org/t/p/w300{{this.poster_path}}" alt="">
                <label for="image-input"></label>
                <input class="out" type="text" id="image-input" name="poster_path"
                    value="http://image.tmdb.org/t/p/w400{{this.poster_path}}">
            </div>

            <div class="col-4">

                <h2> Detalles de la pelicula </h2>
                <hr>

                <div class="form-group">
                    <label for="title-input">Titulo</label>
                    <input type="text" class="form-control the-title" id="title-input" name="title"
                        placeholder="{{this.title}}" value="{{this.title}}">
                </div>

                <div class="form-group">
                    <label for="over-input">Descripci칩n</label>
                    <textarea rows="8" type="text" class="form-control the-over" name="over-input" name="overview"
                        placeholder="{{this.overview}}" value="{{this.overview}}"></textarea>
                </div>

                <div class="form-group">
                    <label for="id-input">Referencia</label>
                    <input type="text" class="form-control the-id" id="id-input" name="id" placeholder="{{this.id}}"
                        value="{{this.id}}">
                </div>

                <div class="form-group">
                    <label for="rate-input">Votos</label>
                    <input type="text" class="form-control the-rate" for="rate-input" name="vote_average"
                        placeholder="{{this.vote_average}}" value="{{this.vote_average}}">
                </div>
                <button class="btn btn-dark" type="submit"> A침adir a favoritos </button>
                <a href="/roles/miPerfil" class="btn btn-primary active" role="button" aria-pressed="true">Volver a mi
                    perfil</a>



            </div>

            <div class="col-4">
                <h2>Comentarios</h2>
                <hr>
                <h5>A침adir nuevo:</h5>
                <textarea type="text"></textarea>
                <button class="btn btn-dark" type="submit"> A침adir </button>
            </div>
        </div>
    </form>

    {{/with}}

</div>